nav {
  // position: fixed;
  width: 100%;
  top: 0 !important;
  margin-bottom: 10vh;
  background-color: green;
  .dropdown {
    background-color: green;
  }
}
nav {
  position: relative;
  z-index: 1000;
  .dropdown {
    z-index: 900;
    position: absolute;
    height: 50vh;
    width: 251px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    border-radius: 0 0 10px;
    border-bottom: 1px solid red;
    // border-right: 1px solid red;
    
  }
}
.dropdown[wobble="1"] {
  animation: wobble 1s 1;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
