@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Fredoka+One&display=swap");
// * {
//   margin: 0;
//   padding: 0;
// }
body {
  // font-family: 'Fredoka One', cursive;
  font-family: "ABeeZee", sans-serif;
}
.post-feed-post {
  border: 1px solid blue;
  margin: 50px 0;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  height: 50px;
  font-size: 46px;
}
textarea {
  height: 50px;
  font-size: 20px;
}
